body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #A7D477;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
  }
  .submit a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }

  .form-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form input,
  form select,
  form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  form textarea {
    resize: none;
    height: 80px;
  }
  
  form button {
    padding: 10px;
    background-color: #6bc75b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  form button:hover {
    background-color: #5ba94e;
  }
  
  .login-text {
    margin-top: 15px;
    font-size: 14px;
  }
  
  .login-text a {
    color: #6bc75b;
    text-decoration: none;
  }
  
  .login-text a:hover {
    text-decoration: underline;
  }
  